/* Tudo que for reutilizado deve ser colocado aqui como por exemplo as cores que são variaveis@ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor-principal: #DEEDEF;
    --cor-destaque: #85C5CE;
    --cor-destaque-escura: #5c99a1; 
    --cor-destaque-footer: #BEDCE0;
    --cor-fundo: #FFFFFF;
    --cor-preta: #000000;
}

a {
  color: black;            /* Change to your desired color */
  text-decoration: none;   /* This also removes the underline */
}

/* Faz com que um botão tenha aperencia de um <p>*/
.botaotexto{
background: none;
border: none;
font: inherit;
text-align: inherit;
color: inherit;
cursor: pointer;
}

