/* Parte do Cabeçalho @ */
.cont-cabecalho { 
    background-color: var(--cor-principal);
    padding: 1em;
    height: 4rem;
    width: 100vw;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-cabecalho {
    text-align: center;
}

.logo-cabecalho {
    width: 6.25em;     /* Não da de usar % aqui por que não funciona pra usar um link */
    height: 2.25em;     /* Aqui também não realmente complica */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login-cabecalho {
    margin-left: auto;
    margin-right: 1em;
}

.register-cabecalho {
}